*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#header{
    font-size: 3rem;
    font-weight: bold;
    color: #f50808;
    background-color: #cff6bb;
    padding: 20px 40px;
    border:black solid 5px;
    border-radius: 10px;
}
#board{
    width:50px;
    height:50px;
    background-color: #090909;
    margin: 50px;
    border-radius: 20px;
}